


<form class="new_update" id="new_update" action="/entries/99" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓">
  <input id="update_body" type="text" name="update[body]">
  <button name="button" type="submit" id="update_button">submit</button>
</form>

