<div class="carousel-wrapper">
  <div class="carousel">
    <div class="carousel__entry">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6 col-lg-offset-3">
            <div class="entries">
              <%= render :partial => 'shared/demo-dropdown' %>
              <div class="button-wrapper " style="display:none">
                <div class="carousel__button--next"></div>
                <div class="carousel__button--prev"></div>
              </div>
              <div class="title">
              <div class="subtitle">
                    <span style="font-size: 3.2rem">The Simple Diary</span>

              </div>
                <div class="date">
                    <% date = Time.now.to_s %>
                   <%= Date.parse(date).strftime("%m/%d/%Y")%>
                </div>
              </div>
              <div class="divider div-transparent div-dot"></div>
              <!-- This is where you enter text  -->
              <div id="demo-entry">
                <div contenteditable="true" class="entry">
                  <p class="tab" style="font-size: 14px">&nbsp;</p>
                </div>
              </div>
              <div class="margin"></div>
              <div class="count">
                <p>- 1 -</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <span class="box1 sb1 ">Welcome to The Simple Diary's demonstration.Type something to continue...</span>

    <span class="box2 sb2 ">Great! The 3 dots in the top corner are the dropdown
    Try clicking them and pressing save.</span>

    <span class="box3 sb3 ">Your entry is now saved. When you have more than one entry
    you can cycle through them by using these arrows.</span>

    <span class="box4">All done. You can now <%= link_to "return home", root_path,
     class: "link-styling" %>
      to log-in/sign-up
    </span>

    <div class="carousel__entry">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 md-12 col-lg-6 col-lg-offset-3">
            <div class="about-entry">
              <!-- This is the dropdown for each page -->
              <%= render :partial => 'shared/demo-dropdown' %>
              <div class="button-wrapper">
                <div class="carousel__button--next"></div>
                <div class="carousel__button--prev"></div>
              </div>
              <div class="title">

                <div class="subtitle">
                    <span style="font-size: 3.2rem">The Simple Diary</span>

                </div>
                <div class="date">
                    06/10/2020
                </div>
              </div>
                  <div class="divider div-transparent div-dot"></div>
              <!-- This is where you enter text  -->
              <div class="entry">
                <p style="font-size: 16px">
                  If you have any comments or questions, feel free to email thesimplediary@yahoo.com
                </p>
              <div class="count">
                <p>-0-</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
