<div class="date">
  <h1>
    <% date = Time.now.to_s %>
   <%= Date.parse(date).strftime("%m/%d/%Y")%>
  </h1>
</div>





<div contenteditable="true" id="entry">
  <p id="tab">&nbsp;</p>
</div>

<%= form_for @entry do |f| %>
<%= f.text_field :body, class: "body" %>
<%= f.button :submit, class: "button" %>
<% end %>

<script type="text/javascript">
function myFunction() {
  document.getElementById("entry").focus(); // Click on the checkbox
}
myFunction()
</script>

