<div class="dropdown">
  <div class="ellipses">
    <span class="fas fa-ellipsis-v"> </span>
  </div>
  <div class="dropdown-child">
    <a class="dropdown-item" id="demo-save">Save</a>
  </div>
</div>
