<!-- This is the dropdown for each page -->
  <div class="dropdown">
    <div class="ellipses">
     <span class="fas fa-ellipsis-v"> </span>
      </div>
      <div class="dropdown-child">
        <!-- delete will only show on existing entries -->
            <% if entry %>
              <a><%= link_to "Delete", entry_path(entry.id), method: :delete, remote:true, data: {confirm: "Are you sure?"}, class: "dropdown-item delete", style: "display:none" %></a>
            <% end %>
            <a class="dropdown-item edit" style="display:none">Update</a>
            <a class="dropdown-item save" style="display:none">Save</a>
            <a class="dropdown-item cancel" style="display:none">Cancel</a>
            <a class="dropdown-item hyphen">--</a>

          <a><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></a>
      </div>
  </div>
