<!-- This is the dropdown for each page -->
  <div class="dropdown">
    <div class="ellipses" onclick="toggle()">
     <span class="fas fa-ellipsis-v"> </span>
      </div>
      <div class="dropdown-child">
        <!-- delete will only show on existing entries -->
        <% if @home == "index" %>
          <a><%= link_to "Delete", entry_path(entry.id), method: :delete, remote:true, data: {confirm: "Are you sure?"}, class: "dropdown-item delete" %></a>
          <a class="dropdown-item edit" onclick="editEntry()">Edit</a>
          <a class="dropdown-item save" onclick="updateEntry()">Save</a>
          <a class="dropdown-item cancel" onclick="cancelEntry()">Cancel</a>
        <% else %>
          <a class="dropdown-item" id="save">Save</a>
        <% end %>
      </div>
  </div>
