<div class="carousel-wrapper">
  <div class="carousel">
    <div class="carousel__entry">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6 col-lg-offset-3">
            <div class="entries">
              <div class="button-wrapper">
                  <div class="carousel__button--next"></div>
                  <div class="carousel__button--prev"></div>
              </div>
              <div class="title" style="margin-top: 20px;">
                <div class="subtitle">

                    <%= link_to "Log-in", user_session_path %>
                    to save entries
                </div>
                <div class="date">
                    <% date = Time.now.to_s %>
                   <%= Date.parse(date).strftime("%m/%d/%Y")%>
                </div>
              </div>
              <div class="divider div-transparent div-dot"></div>
              <!-- This is where you enter text  -->
              <div contenteditable="true" class="entry">
                <p class="tab" onclick="">&nbsp;</p>
              </div>
              <div class="margin"></div>
              <div class="count">
                <p>- 1 -</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel__entry">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 md-12 col-lg-6 col-lg-offset-3">
            <div class="about-entry">
              <div class="button-wrapper">
                <div class="carousel__button--next"></div>
                <div class="carousel__button--prev"></div>
              </div>
              <div class="title" style="margin-top: 20px;">

                <div class="subtitle">
                      About
                </div>
                <div class="date">
                    06/10/2020
                </div>
              </div>
                  <div class="divider div-transparent div-dot"></div>
              <!-- This is where you enter text  -->
              <div class="entry">
                <p style="font-size: 16px">The Simple Diary was created in response
                 to other apps that were bloated with unnecessary features and
                 over-engineered in a way that made them frustrating and
                 counter-intuitive to use. A diary is just putting pen to paper,
                 and this app's functionality is designed to simulate that experience.
                <br><br>
                The app only has 2 features, saving and updating entries. The update
                feature allows users to come back to something they wrote awhile
                 back and add a comment to it, while time-stamping the update. The
                  entire app takes place on one page, which removes the frustration
                   of navigating a site.
                <br><br>
                Any questions or comments can be emailed to me at maxfrda@gmail.com.
                 Enjoy!
                </p>
              <div class="count">
                <p>-0-</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
