<div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 md-12 col-lg-6 col-lg-offset-3">
          <div class="entries">
            <div class="title" style="margin-top: 30px;">

              <div class="subtitle">
                    About
              </div>
              <div class="date">
                  06/10/2020
              </div>
            </div>
                <div class="divider div-transparent div-dot"></div>
            <!-- This is where you enter text  -->
            <div class="entry">
            <div class="margin2"></div>
            <div class="count">
              <p>-0-</p>
            </div>
          </div>
        </div>
      </div>
    </div>
