.carousel-wrapper {
  overflow: hidden;
  width: 100%;
}

/* line 298, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 313, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 290, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.carousel-wrapper * {
  box-sizing: border-box;
}

/* line 302, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 318, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 296, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.carousel {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 301, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.carousel__entry {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  -webkit-transition: opacity .5s, z-index .5s, -webkit-transform .5s;
  transition: opacity .5s, z-index .5s, -webkit-transform .5s;
  transition: transform .5s, opacity .5s, z-index .5s;
  transition: transform .5s, opacity .5s, z-index .5s, -webkit-transform .5s;
}

/* line 315, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.carousel__entry.initial,
.carousel__entry.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

/* line 322, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.carousel__entry.prev,
.carousel__entry.next {
  z-index: 800;
}

/* line 327, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.carousel__entry.prev {
  -webkit-transform: translateX(-2%);
  transform: translateX(-2%);
  /* Move 'prev' item to the left */
}

/* line 333, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.carousel__entry.next {
  -webkit-transform: translateX(2%);
  transform: translateX(2%);
  /* Move 'next' item to the right */
}

/* line 339, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.carousel__button--prev,
.carousel__button--next {
  position: relative;
  width: 2.3rem;
  height: 2.3rem;
  background-color: #FFF;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
  /* Sit on top of everything */
  border: .08rem solid #DAA520;
}

/* line 354, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.carousel__button--prev:hover,
.carousel__button--next:hover {
  background-color: goldenrod;
}

/* line 359, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.carousel__button--prev {
  float:left;
  margin-right: .5rem;
}

/* line 354, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 365, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.carousel__button--next {
  float: right;
}

/* line 370, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.carousel__button--prev::after,
.carousel__button--next::after {
  content: " ";
  position: absolute;
  width: .8rem;
  height:.8rem;
  top: 50%;
  left: 54%;
  border-right: .15rem  solid #DAA520;
  border-bottom: .15rem solid #DAA520;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
  transform: translate(-50%, -50%) rotate(135deg);
}

 @media only screen and (max-width: 770px){
        //MOBILE ONLY STYLES
  .carousel__button--prev,
  .carousel__button--next {
    width: 1.3rem;
    height: 1.3rem;
    border: .04rem solid #DAA520;
  }

.carousel__button--prev::after,
.carousel__button--next::after {
  width: .2rem;
  height:.2rem;
  top: 50%;
  left: 54%;
  border-right: .1rem  solid #DAA520;
  border-bottom: .1rem solid #DAA520;
}

  }

/* line 385, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.carousel__button--prev:hover::after,
.carousel__button--next:hover::after {
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

/* line 393, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.carousel__button--next::after {
  left: 47%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
