.click-me{
  position: fixed;
  top: 2%;
  right: 20%;
}



.box2{
  display: none;
}

.box1,
.box2,
.box3,
.box4 {
  width: 300px;
  margin: 50px auto;
  background: #daa520;
  padding: 10px;
  text-align: center;
  font-weight: 500;
  color: #fff;
  font-size: 15px;
  font-family: arial;
  position:absolute;
  top: 0%;
  left: 8%;
  z-index: 2000;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);

}

.box2{
  top: -5%;

}

.box1{
}

.box3,
.box4{
  top: -2%;
  left: 75%;
  display: none;

}

.sb1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #daa520;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #daa520;
  right: -20px;
  top: 76px;


}

.sb2:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #daa520;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #daa520;
  right: -20px;
  top: 16px;

}

.sb3:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #daa520;
  border-top: 10px solid #daa520;
  border-bottom: 10px solid transparent;
  left: -20px;
  top: 16px;

}


.wrapper_buttons{
  margin-right: 20px;
}
  // box-shadow: inset 0px 0px 9px 1px rgba(218, 165, 32, .3);

.demo_button {
  background-color: #daa520;
  border-radius: 30px;
  border: 1.7px solid #daa520;
  display: inline-block;
  color: white;
  font-weight: 300;
  font-family: Arial;
  font-size: 14px;
  padding: 8px 16px;

}

/* line 57, /home/max/code/maxfrda/diary/app/assets/stylesheets/_demo.scss */
.log_in_button {
  background-color: white;
  border-radius: 30px;
  border: 1.7px solid #daa520;
  display: inline-block;
  color: #daa520;
  font-weight: 300;
  font-family: Arial;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
}

 .log_in_button:hover{
  box-shadow: inset 0px 0px 9px 1px rgba(218, 165, 32, .3);
  color: #daa520;
  text-decoration: none;

}

 .demo_button:hover{
  box-shadow: inset 0px 0px 9px 1px rgba(255, 255, 255, .3);
  text-decoration: none;
  color: white;

}


/* line 370, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */

.home_page_button_wrapper{
  position: absolute;
  right: 12%;
  top: 2%;

}


 @media only screen and (max-width: 670px){
        //MOBILE ONLY STYLES
    .home_page_button_wrapper{
      position: absolute;
      right: 18%;
      top: 70%;

    }

    .log_in_button,
    .demo_button {
      font-size: 12px;
    padding: 5px 10px;

    }

    .demo_button{
      display:none;
    }

    .log_in_button{
      margin-left: 40px;
    }

  }

   @media only screen and (max-width: 1070px){
        //MOBILE ONLY STYLES
    .demo_button{
     display:none;

    }


  }

.link-styling{
 color:white;
 text-decoration: underline;
 font-weight: 900;
}
