/* line 6, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 3, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 4, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
[contenteditable="true"]:active,
[contenteditable="true"]:focus {
  border: none;
  outline: none;
}

/* line 13, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 10, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 12, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
.entry {
  font-size: 16px;
  margin-left: 40px;
  margin-right: 40px;

}

/* line 18, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 15, /home/max/code/maxfrda/diary/diary/app/a */
/* line 19, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
.tab {

}

/* line 22, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 20, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 25, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
#button {
  visibility: hidden;
}

#update_button {
  visibility: hidden;
}

/* line 27, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 25, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 31, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
#entry_body {
  visibility: hidden;
}

#update_body {
  visibility: hidden;
}
/* line 31, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 30, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 37, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
#save {
  color: white;
  background-color: #DAA520;
  border-radius: 3px;
  border: none;
  width: 80px;
  height: 30px;
  float: left;
  position: absolute;
  top: 2%;
  right: 22%
}

.save {
  color: white;
  background-color: #DAA520;
  border-radius: 3px;
  border: none;
  width: 80px;
  height: 30px;
  float: left;
  position: absolute;
  top: 2%;
  right: 22%;
  display: none;
}

.edit{
  color: white;
  background-color: blue;
  border-radius: 3px;
  border: none;
  width: 80px;
  height: 30px;
  position: absolute;
  float: left;
  top: 2%;
  left: 22%
}

.cancel{
  color: white;
  background-color: red;
  border-radius: 3px;
  border: none;
  width: 80px;
  height: 30px;
  float: left;
  position: absolute;
  top: 2%;
  left: 22%;
  display: none;
}


/* line 40, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 40, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 52, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
#save:hover {
  background-color: rgb(188,135,2);
}

/* line 44, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 45, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 58, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
.document {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 10px auto;
  padding: 10px;
  width: 45%;
  min-height: 900px;
  /* or height: 9.5in; */
  background-color: white;
}

/* line 56, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 56, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 73, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
.date {
  font-family: 'Tangerine', serif;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;

}

/* line 65, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 65, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 83, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
body {
  background-color: #f7f7f7 !important;
}

/* line 69, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 70, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 97, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
.subtitle {
  text-align: center;
  font-size: 50px;
  font-family: 'Tangerine', cursive;
}

.margin{
  margin-bottom: 350px;
}

.margin2{
  margin-bottom: 50px;
}

.entries{

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 10px auto;
  padding: 10px;
  width: 95%;
  min-height: 900px;
  /* or height: 9.5in; */
  background-color: white;
}

.entries-list{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 10px auto;
  padding: 10px;
  width: 95%;
  min-height: 900px;
  /* or height: 9.5in; */
  background-color: white;
}


// These are for the show page

.wrapper
{
  padding-bottom: 20px;
}

.divider
{
  position: relative;
  margin-top: 40px;
  height: 1px;
}

.div-transparent:before
{
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-dot:after
{
  content: "";
  position: absolute;
  z-index: 1;
  top: -9px;
  left: calc(50% - 9px);
  width: 18px;
  height: 18px;
  background-color: goldenrod;
  border: 1px solid rgb(48,49,51);
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px white,
          0 0 0 4px white;
}

.div-arrow-down:after
{
  content: "";
  position: absolute;
  z-index: 1;
  top: -7px;
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  background-color: white;
  border-bottom: 1px solid rgb(48,49,51);
  border-right: 1px solid rgb(48,49,51);
}

// create arrows
i {
  border: solid goldenrod;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 8px;
}

/* line 189, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  top: 400px;
  right: 200px;
}

/* line 194, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: absolute;
  top: 400px;
  left: 200px;
}


.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

// CAROUSEL

.carousel-wrapper {
  overflow: hidden;
  width: 100%;
}

.carousel-wrapper * {
  box-sizing: border-box;
}

.carousel {
  transform-style: preserve-3d;
}

.carousel__entry {
  opacity: 0;
  position: absolute;
  top:0;
  width: 100%;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  transition: transform .5s, opacity .5s, z-index .5s;
}

.carousel__entry.initial,
.carousel__entry.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}


.carousel__entry.prev,
.carousel__entry.next {
  z-index: 800;
}

.carousel__entry.prev {
  transform: translateX(-100%); /* Move 'prev' item to the left */
}
.carousel__entry.next {
  transform: translateX(100%); /* Move 'next' item to the right */
}

.carousel__button--prev,
.carousel__button--next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001; /* Sit on top of everything */
  border: 1px solid black;
}
.carousel__button--prev {
  left:0;
}
.carousel__button--next {
  right:0;
}
.carousel__button--prev::after,
.carousel__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}
.carousel__button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.toggle{
  display: none;
}


.update-id{
  visibility: hidden;
}
