@import "dropdown";

[contenteditable="true"]:active,
[contenteditable="true"]:focus {
  border: none;
  outline: none;
}

/* line 13, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 10, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 12, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 14, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 16, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.entry {
  font-size: 16px;
  margin-left: 40px;
  margin-right: 40px;
}

.update-entry {
  font-size: 16px;
  margin-left: 40px;
  margin-right: 40px;
}
/* line 21, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 21, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 24, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.update-date {
  font-size: 12px;
  padding-top: 25px;
  margin-left: 20px;
  font-style: italic;
  text-decoration: underline;
}

/* line 25, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 30, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 33, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.spacing {
  padding-top: 20px;
}

/* line 18, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 15, /home/max/code/maxfrda/diary/diary/app/a */
/* line 19, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 22, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 20, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 25, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 43, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 44, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
#button {
  visibility: hidden;
}

/* line 47, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 49, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
#update_button {
  visibility: hidden;
}

/* line 27, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 25, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 31, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 54, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 57, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
#entry_body {
  visibility: hidden;
}

/* line 58, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 62, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
#update_body {
  visibility: hidden;
}

/* line 31, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 30, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 37, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 64, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 70, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */



#save:hover {
  // background-color: #bc8702;
}


.date {
  font-family: 'Tangerine', serif;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
}


body {
  background-color: #f7f7f7 !important;
}

/* line 69, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 70, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 97, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 160, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 172, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.subtitle {
  text-align: center;
  font-size: 50px;
  font-family: 'Tangerine', cursive;
}


/* line 166, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 179, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.margin {
  margin-bottom: 350px;
}

/* line 170, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 184, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.margin2 {
  margin-bottom: 200px;
}

/* line 174, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 189, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.entries {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 10px auto;
  padding: 10px;
  width: 95%;
  min-height: 900px;
  /* or height: 9.5in; */
  background-color: white;
}

/* line 185, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 200, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.entries-list {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 10px auto;
  padding: 10px;
  width: 95%;
  min-height: 900px;
  /* or height: 9.5in; */
  background-color: white;
}

/* line 198, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 211, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.wrapper {
  // padding-bottom: 20px;
}

/* line 203, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 216, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.divider {
  position: relative;
  margin-top: 40px;
  height: 1px;
}

//

/* line 210, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 223, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#303133), to(transparent));
  background-image: linear-gradient(to right, transparent, #303133, transparent);
}

/* line 223, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 236, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.div-dot:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -9px;
  left: calc(50% - 9px);
  width: 18px;
  height: 18px;
  background-color: goldenrod;
  border: 1px solid #303133;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px white, 0 0 0 4px white;
}

.div-stopper:after
{
  content: "";
  position: absolute;
  z-index: 1;
  top: -6px;
  left: calc(50% - 7px);
  width: 14px;
  height: 12px;
  background-color: white;
  border-left: 1px solid rgb(48,49,51);
  border-right: 1px solid rgb(48,49,51);
}

/* line 239, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 251, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.div-arrow-down:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -7px;
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: white;
  border-bottom: 1px solid #303133;
  border-right: 1px solid #303133;
}

/* line 255, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 267, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
i {
  border: solid goldenrod;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 8px;
}

/* line 189, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 263, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 276, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  top: 400px;
  right: 200px;
}

/* line 194, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 272, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 286, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: absolute;
  top: 400px;
  left: 200px;
}

/* line 281, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 295, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/* line 286, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 301, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* line 293, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 307, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.carousel-wrapper {
  overflow: hidden;
  width: 100%;
}

/* line 298, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 313, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.carousel-wrapper * {
  box-sizing: border-box;
}

/* line 302, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
/* line 318, /home/max/code/maxfrda/diary/app/assets/stylesheets/entries.scss */
.carousel {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.carousel__entry {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  -webkit-transition: opacity .5s, z-index .5s, -webkit-transform .5s;
  transition: opacity .5s, z-index .5s, -webkit-transform .5s;
  transition: transform .5s, opacity .5s, z-index .5s;
  transition: transform .5s, opacity .5s, z-index .5s, -webkit-transform .5s;
}

.carousel__entry.initial,
.carousel__entry.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

.carousel__entry.prev,
.carousel__entry.next {
  z-index: 800;
}

.carousel__entry.prev {
  -webkit-transform: translateX(-2%);
  transform: translateX(-2%);
  /* Move 'prev' item to the left */
}

.carousel__entry.next {
  -webkit-transform: translateX(2%);
  transform: translateX(2%);
  /* Move 'next' item to the right */
}

.carousel__button--prev,
.carousel__button--next {
  position: absolute;
  top: 8%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
  /* Sit on top of everything */
  border: 1px solid #DAA520;
}

.carousel__button--prev:hover,
.carousel__button--next:hover{
  background-color: goldenrod;

}

.carousel__button--prev {
  left: 65%;

}

.carousel__button--next {
  right: 31%;
}

.carousel__button--prev::after,
.carousel__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid #DAA520;
  border-bottom: 2px solid #DAA520;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
  transform: translate(-50%, -50%) rotate(135deg);
}


.carousel__button--prev:hover::after,
.carousel__button--next:hover::after {

  border-right: 2px solid white;
  border-bottom: 2px solid white;

}

.carousel__button--next::after {
  left: 47%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.toggle {
  display: none;
}

.update-id {
  visibility: hidden;
}

.count {
  position: absolute;
  left: 50%;
  bottom: 5%;
  font-size: 36px;
  font-family: 'Tangerine', cursive;
}

.update-padding {
  padding-top: 20px;
  padding-bottom: 150px;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: black;
  border-radius: 50%;
}

.tab{
  margin: 0;
}

.logout {
  position: absolute;
  right: 90%;
  top: 1%;
  padding: 10px;
}

.hideforms{
  display: none;
}
