/* line 6, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 3, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
[contenteditable="true"]:active,
[contenteditable="true"]:focus {
  border: none;
  outline: none;
}

/* line 13, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 10, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
#entry {
  font-size: 16px;
}

/* line 18, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 15, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
#tab {
  margin-left: 40px;
}

/* line 22, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 20, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
#button {
  visibility: hidden;
}

/* line 27, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 25, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
#entry_body {
  visibility: hidden;
}

/* line 31, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 30, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
#save {
  color: white;
  background-color: #713131;
  border-radius: 3px;
  border: none;
  width: 80px;
  height: 30px;
  float: left;
  position: absolute;
  top: 2%;
 right: 21%
}

/* line 40, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 40, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
#save:hover {
  background-color: brown;
}

/* line 44, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 45, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
.document {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 10px auto;
  padding: 10px;
  width: 75%;
  height: 900px;
  /* or height: 9.5in; */
  background-color: white;

}

/* line 56, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 56, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
.date {
  text-align: center;
  font-family: 'Cinzel', serif;
  text-decoration: underline;
  margin-bottom: 60px;
  margin-top: 40px;
}

/* line 65, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 65, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
body {
  background-color: #f7f7f7 !important;
}

/* line 69, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
/* line 70, /home/max/code/maxfrda/diary/diary/app/assets/stylesheets/entries.scss */
.container {
  width: 55%;
  height: 910px;
  clear: both;
  page-break-after: always;
  background-color: #f7f7f7;
}

.subtitle{
  position: absolute;
  top: 15%;
  left: 5%;
  font-size: 50px;
  font-family: 'Tangerine', cursive;
}

